params {
    command = "bcftools -h"

    cpus = 1
    memory = "1 GB"
    disk = false

    executor = "awsbatch"
    queueSize = 5000
    maxInstances = 5000
    maxParallelTransfers = 10
    cache = 'lenient'
    pollInterval = '30 sec'
    exitReadTimeout = '30 sec'
    default_container='quay.io/alexander-stuckey/gwas_avt'
}

docker {
    enabled = true
}

cloud{
    autoscale{
        enabled = false
        maxInstances = params.maxInstances
    }
}

aws{
    batch{
        maxParallelTransfers=params.maxParallelTransfers
    }
}
executor {
    name = params.executor
    queueSize = params.queueSize
    pollInterval = params.pollInterval
    exitReadTimeout = params.exitReadTimeout
}
process {
    container = params.default_container
    cpus = params.cpus
    memory = params.memory
    maxRetries = 0
}